@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
.main-content{
    width: 85%;
    border-radius: 50px;
    background-color: white;
    height: 650px;
    color: black;
    box-sizing: border-box;
    padding: 20px;
}