.worker-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.out-orders{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.in-orders{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.orders-holder{
    width: 90%;
}